<template>
  <aside class="betslip">
    <div class="betslip__overlay" @click="closeBetslip"></div>
    <div class="betslip__panel">
      <div class="betslip__header header">
        <div class="burger" @click="closeBetslip">
          <icon class="burger__icon" name="times" scale="2"></icon>
        </div>
      </div>
      <div class="betslip__body">
        <div class="bet" v-for="bet in bets" :key="bet.id">
          <p v-text="betName(bet)"></p>
          <span class="bet__price" v-text="bet.price"></span>
          <button class="bet__button" @click="deleteBet(bet.id)">Delete</button>
          <hr class="bet__separator">
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'Betslip',
  methods: {
    deleteBet(id) {
      this.$store.commit('unselectBet', id);
    },
    betName(bet) {
      const betMarket = bet.marketShortName;
      return `${bet.name} ${betMarket[0].toLowerCase() + betMarket.slice(1)}`;
    },
    closeBetslip() {
      this.$emit('closeBetslip');
    },
  },
  computed: {
    bets() {
      return this.$store.getters.getActiveBets;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .bet {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .bet__button {
    background-color: #49535d;
    color: #ffffff;
    margin-bottom: 12px;
    padding-left: 1em;
    padding-right: 1em;
  }
  .bet__price {
    font-weight: 700;
    margin-bottom: 15px;
  }
  .bet__separator {
    width: 100%;
  }
  .betslip {
    align-items: stretch;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  .betslip__body {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }
  .betslip__header {
    border: none;
  }
  .betslip__panel {
    background-color: #ffffff;
    border-left: 2px solid #8491a3;
    max-width: 315px;
    overflow: auto;
    position: relative;
    width: 84%;
  }
  .betslip__overlay {
    background-color: rgba(116,128,144,0.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
</style>
