<template>
  <div class="event" v-if="event.markets.length > 0">
    <div class="event__header">
      <span v-text="event.name"></span>
    </div>
    <div class="event__body">
      <market v-for="market in event.markets" :market="market" :key="market.id"></market>
    </div>
  </div>
</template>

<script>
import Market from './Market';

export default {
  name: 'Event',
  components: { Market },
  props: { event: Object },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .event {
    border: 2px solid #8491a3;
    margin-top: 15px;
  }
  .event:last-child {
    margin: 15px 0;
  }
  .event__header {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
  }
  .event__body {
  }
</style>
