<template>
  <div class="market">
    <div class="market__header" v-text="market.shortName"></div>
    <div class="market__body">
      <selection v-for="selection in market.selections"
              :selection="selection"
              :key="selection.id"
              :marketShortName="market.shortName"
      ></selection>
    </div>
  </div>
</template>

<script>
import Selection from './Selection';

export default {
  name: 'Market',
  components: { Selection },
  props: { market: Object },
  created() {
    const nameParts = this.market.name.split('to', 2);
    this.market.shortName = `To ${nameParts[1]}`;
  },
};
</script>

<style scoped>
  .market {
    border-top: 2px solid #8491a3;
    padding: 12px;
  }
  .market__body {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  .market__header {
    color: #818fa2;
  }
</style>
