<template>
  <button @click="toggleBet" v-bind:class="{ green: selected }">
    <div v-text="selection.name"></div>
    <div v-text="selection.price"></div>
  </button>
</template>

<script>
export default {
  name: 'Selection',
  props: { selection: Object, marketShortName: String },
  data() {
    return {
      isSelected: false,
    };
  },
  methods: {
    toggleBet() {
      this.$store.commit('toggleBet', this.selection.id);
    },
  },
  computed: {
    selected() {
      return this.$store.getters.getBetStatusById(this.selection.id);
    },
  },
  created() {
    this.selection.marketShortName = this.marketShortName;
    this.$store.commit('initBet', this.selection);
  },
};
</script>

<style>
  .green {
    background-color: #35b54c;
  }
</style>
