<template>
  <div id="app">
    <header class="header">
      <div class="burger" @click="toggleBetslip">
        <icon class="burger__icon" name="bars" scale="2" v-if="!showBetslip"></icon>
        <icon class="burger__icon" name="times" scale="2" v-if="showBetslip"></icon>
      </div>
    </header>
    <main class="event-list">
      <event v-for="event in events" :event="event" :key="event.id"></event>
    </main>
    <betslip @closeBetslip="toggleBetslip" v-show="showBetslip"></betslip>
  </div>
</template>

<script>
import axios from 'axios';
import Event from './components/Event';
import Betslip from './components/Betslip';

export default {
  name: 'App',
  components: { Event, Betslip },
  data() {
    return {
      events: null,
      showBetslip: false,
    };
  },
  methods: {
    toggleBetslip() {
      this.showBetslip = !this.showBetslip;
    },
  },
  created() {
    axios.get('/59f08692310000b4130e9f71')
      .then((response) => {
        this.events = response.data;
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.log(error);
      });
  },
};
</script>

<style>
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }
  button {
    align-items: center;
    background-color: #fff;
    border-color: #8491a3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #363636;
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: calc(.375em - 1px);
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
  }
  .header {
    align-items: center;
    border-bottom: 2px solid #676767;
    display: flex;
    height: 48px;
    justify-content: flex-end;
    padding: 0 10px;
  }
  p {
    margin-top: 0;
  }
  .burger__icon {
    color: #676767;
    cursor: pointer;
  }
  .event-list {
    padding: 10px;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    color: #2c3e50;
  }
</style>
